body {
	position: absolute;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: 0;
	overflow: hidden;

	background-color: #242424;
}

.shape-rectangle {
	position: absolute;
	
	transform: rotate(0deg);
	transition: transform ease-in-out 1500ms;
}
